.header {
    padding: 20px;
    background-color: #BFDBD5;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}
.header-h1 {
    color: #16C7D9;
    font-family: "DM Serif Text", serif;
    font-size: 60px;
}
.header-h2 {
    color: #1689D9;
    font-family: "Abel";
}
.header-1 {
    border: solid 1px white;

}
.hero {
    display: flex;
    background-color: #FF9F66;
    height: 200px;
    margin: 20px 100px;
    border: solid 1px #002379 ;
    justify-content: center;
    text-align: center;
}
.h2-hero {
    color: #FFFAE6;
    padding-top: 10px;
    font-family: "Abel";
    padding-bottom: 15px;

}
img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: solid 5px #ffffff;
}
.my-skills {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #B7B597;
    color: #EEEEEE;
    font-family: "Abel";
    padding-top: 20px;
    border-bottom: #FF9F66 solid 20px;

}
.skills {
    font-size: 50px;
    font-weight: 300px;
}
.h4-skills {
    text-align: center;
}
.touch {
    display: grid;
    height: 150px;
    background-color: #c7c5ad;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Abel';
    color: white;
    text-align: center;
    border: #ffffff 2px solid;


}
#button-touch {
    background-color: #00ADB5 ;
    border: none;
    margin-top:  10px;

}
.footer {
    height: 120px;
    background-color:#FF9F66;
    gap: 100px;

}
.na {
    display: flex;
    height: 100px;
    justify-content: center;
    align-content: space-between;
    gap: 50px;
    align-items: center;
    color: #EEEEEE;    
    
}
.na-1 {
    display: flex;
    justify-content: center;
    color: #ebebebcc;
    margin-top: -20px
}
@media (min-width: 319px) and (max-width: 700px) {
    .my-skills {
        padding-top: 130px;

    }
    img {
        margin-bottom: 200px;
    }
}
